@page
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<AdvancedProgramming_Lesson4.Resource> SharedLocalizer
@inject IViewLocalizer ViewLocalizer
@model ErrorModel
@{
    ViewData["Title"] = @SharedLocalizer["Error"];
}

<h1 class="text-danger">@SharedLocalizer["Error"].</h1>
<h2 class="text-danger">
    @SharedLocalizer["An error occurred while processing your request."]</h2>

@if(Model.ShowRequestId)
{
<p>
    <strong>@SharedLocalizer["Request ID:"]</strong> <code>@Model.RequestId</code>
</p>
}

<h3>
    @SharedLocalizer["Development Mode"]</h3>
<p>
    @SharedLocalizer["Swapping to"] <strong>@SharedLocalizer["Development"]</strong> @SharedLocalizer["environment will display more detailed information about the error that occurred."]
</p>
<p>
    <strong>@SharedLocalizer["Development environment should not be enabled in deployed applications"]</strong>, @SharedLocalizer["as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the"] <strong>ASPNETCORE_ENVIRONMENT</strong> @SharedLocalizer["environment variable to"] <strong>@SharedLocalizer["Development"]</strong>, @SharedLocalizer["and restarting the application."]
</p>
