@page
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<AdvancedProgramming_Lesson4.Resource> SharedLocalizer
@inject IViewLocalizer ViewLocalizer
@model AdvancedProgramming_Lesson4.Pages.Shared.MessageHubModel

@{
    ViewData["Title"] = @SharedLocalizer["MessageHub"];
}

<h1>@SharedLocalizer["MessageHub"]</h1>

<p>
    <a asp-page="/MessageCreate">@SharedLocalizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChatMessage[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatMessage[0].Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChatMessage)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                @{ if (User.Identity.Name == item.User || User.Identity.Name == "admin@email.com")
                    {
                        <td>
                            <a asp-page="/MessageEdit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a>
                            <a asp-page="/MessageDelete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
