@page
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<AdvancedProgramming_Lesson4.Resource> SharedLocalizer
@inject IViewLocalizer ViewLocalizer
@model ExternalLoginModel
@{
    ViewData["Title"] = @SharedLocalizer["Register"];
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">
    @SharedLocalizer["Associate your"] @Model.ProviderDisplayName @SharedLocalizer["account."]</h4>
    <hr />

    <p id="external-login-description" class="text-info">
        @SharedLocalizer["You've successfully authenticated with"] <strong>@Model.ProviderDisplayName</strong>.
        @SharedLocalizer["Please enter an email address for this site below and click the Register button to finishlogging in."]
    </p>

    <div class="row">
        <div class="col-md-4">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">@SharedLocalizer["Register"]</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
